html{
  width: 100vw;
  height: 100vh;
}

head{
  width: auto;
  height: auto;
}

body{
  width: 100vw;
  height: 100vh;
  display: block;
  margin: 0;
}

.status{
  display: none;
}

.filter{
  display: none;
  background-color: #a9a9a9;
  width: 100vw;
  height: 100vh;
  z-index: 1;

}

/*header-css*/
#headermainbox{
  position: fixed;
  height: 64px;
  width: 100vw;
  top: 0px;
  left: 0px;
  background-color: #26abe8;
  z-index: 3;
}

.headercontents{
  float: left;
}

#MenuTrrigerBox{
  position: fixed;
  height: 48px;
  width: 48px;
  margin: 8px;
  top: 0px;
  left: 0px;
  color: #ffffff;
}

#MenuTrrigerSwitch{
  position: fixed;
  height: 24px;
  width: 24px;
  margin: 12px;
  cursor: pointer;
}

#PageNameBox{
  position: fixed;
  height: 48px;
  width: 298px;
  margin: 8px;
  top: 0px;
  left: 64px;
  color: #ffffff;
}

/*sidebar-css*/
#PageName{
  position: fixed;
  height: 24px;
  width: 298px;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 24px;
  color: #ffffff;
}

#sidebarmainbox{
  position: fixed;
  height: 100vh;
  width: 250px;
  left: -250px;
  top: 0px;
  font-size: 24px;
  background-color: #26cfe8f5;
  z-index: 10;
}

#MenuPertition{
  border-bottom: 1px solid#a9a9a9;
  width: 250px;
  height: 0px;
}

#StatusDisplayBox{
  height: 24px;
  width: 250px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: #ff0000;
}

.statusdispaly{
  height: 24px;
  width: 250px;
}

.mainpagebutton{
  height: 24px;
  width: 250px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #a9a9a9;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.mainpagebutton:hover{
  background-color: #1b759e
}

/*mainarea-css*/
#MainBox{
  padding-top: 64px;
  width: 100vw;
  z-index: 2;
}

/*login-css*/
#loginmainbox{
  /*display: none;*/
  width: 100vw;
}

#MsgBox{
  font-size: 24px;
  color: #e92020;
}

#IDMiniBox{
  padding-bottom: 5px;
}

#IdImput{
  margin-left: 5px;
}

#PWMiniBox{
  padding-bottom: 5px;
}

#PwImput{
  margin-left: 5px;
}

#BMiniBox{
  width: 116px;
  height: 40px;
  margin-left: 25px;
}

#LoginButton{
  background-color: #e98d20;
  border: 1px solid #a9a9a9;
  color: #ffffff;
  width: 100px;
  height: 24px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
}

/*home-css*/
#homemainbox{
  /*display: block;*/
}

#C-HeadMainBox{
  margin-top: 16px;
  margin-left: 16px;
  height: 32px;
  width: 280px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;

}

.c-headbox{
  float: left;
}

#HPastMonth{
  height: 32px;
  width: 40px;
  border-right: 1px solid #000000;
  box-sizing: border-box;
  text-align: center;
  font-size: 24px;
}

#HNowDisplayMonth{
  height: 32px;
  width: 200px;
  border-right: 1px solid #000000;
  box-sizing: border-box;
  text-align: center;
  font-size: 24px;
}

#HNextMonth{
  height: 32px;
  width: 40px;
  border-right: 1px solid #000000;
  box-sizing: border-box;
  text-align: center;
  font-size: 24px;
}

#C-BodyMainBox{
  margin-left: 16px;
  height: 344px;
  width: 280px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
}

.c-indexbox{
  height: 31px;
  width: 39px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  box-sizing: content-box;
  font-size: 18px;
  text-align: center;
  float: left;
}

.c-bodybox{
  height: 51px;
  width: 39px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  box-sizing: content-box;
  float: left;
}

/*logoutarea-css*/
#logoutmainbox{
  display: none;
}

#LogoutButton{
  background-color: #e98d20;
  border: 1px solid #a9a9a9;
  color: #ffffff;
  width: 100px;
  height: 24px;
  padding: 4px;
  text-align: center;
  margin-top: 50px;
  margin-left: calc(50vw - 50px);
  cursor: pointer;
}

/*bookingarea-css*/
#bookingmainbox{
  display: none;
}

#B-HeadMainBox{
  margin-top: 16px;
  margin-left: 16px;
  height: 32px;
  width: 280px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;

}

.b-headbox{
  float: left;
}

#IPastMonth{
  height: 32px;
  width: 40px;
  border-right: 1px solid #000000;
  box-sizing: border-box;
  text-align: center;
  font-size: 24px;
}

#INowDisplayMonth{
  height: 32px;
  width: 200px;
  border-right: 1px solid #000000;
  box-sizing: border-box;
  text-align: center;
  font-size: 24px;
}

#INextMonth{
  height: 32px;
  width: 40px;
  border-right: 1px solid #000000;
  box-sizing: border-box;
  text-align: center;
  font-size: 24px;
}


#B-BodyMainBox{
  margin-left: 16px;
  height: 344px;
  width: 280px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
}

.b-indexbox{
  height: 31px;
  width: 39px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  box-sizing: content-box;
  font-size: 18px;
  text-align: center;
  float: left;
}

.b-bodybox{
  height: 51px;
  width: 39px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  box-sizing: content-box;
  float: left;
}

#PlanImpoutBox{
  display: none;
}
